      <section id="about" class="about-container">
        <div class="section-square"></div>
        <h2>About Me</h2>
        <p class="body-text">
          I am a passionate Computer Science student learning at Montgomery College who transforms ideas into
          immersive digital experiences. With a blend of creativity and
          technical expertise, I bridge the gap between design and
          functionality, weaving code into seamless user journeys. My mission is
          to learn and collaborate with others to build, and most importantly have fun
            building applications such as this one. Let's embark on a
          digital adventure together, where innovation knows no bounds.
        </p>
        <!-- <a class="btn" href="#">Download my Resume</a> This has been commented out as I don't want a button for my resume -->
      </section>