      <section class="hero-container">
        <div class="hero-img-container">
          <div class="main-img-bg"></div>
          <img
            class="main-img"
            src="/static/images/hero02.png"
            alt="photo of Chris Diaz"
          />
        </div>
        <div class="hero-text-container">
          <h1>Chris Diaz</h1>
          <p>College Student by Morning</p>
          <p>Artistic Nerd by Night</p>
          <a class="btn" href="#projects">Check out my work</a>
        </div>
      </section>